[Desktop Entry]
Type=Application
Version=1.0
Name=Imager
Comment=Raspberry Pi Imager
Icon=bb-imager
Exec=bb-imager %F
Categories=Utility
StartupNotify=false
